<ion-header>
  <ion-toolbar mode="md">
    <ion-title color="dark" (click)="searchLocation('select-place')">
      <span *ngIf="location?.lat">{{location?.title}}</span>
      <span *ngIf="!location || !location?.lat">Home</span>
      <ion-icon color="dark" name="chevron-down-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="isLoading"><ion-skeleton-text animated style="height: 25vh;"></ion-skeleton-text></div>
  <app-loading-shop *ngIf="isLoading"></app-loading-shop>
  
  <app-banner *ngIf="!isLoading" [bannerImages]="banners"></app-banner>

  <ion-list *ngIf="!isLoading">
    <ion-list-header class="ion-margin-bottom">
      <ion-label>
        <h4>Shop Nearby</h4>
        <p>Discover unique tastes near you</p>
      </ion-label>
    </ion-list-header>
    <ion-text *ngIf="shops?.length == 0" color="danger" class="ion-text-center">
      <p>No Shops found near you</p>
    </ion-text>
    <ion-item-group *ngIf="shops?.length > 0">
      <app-shop 
        *ngFor="let shop of shops" 
        [shop]="shop"
        [routerLink]="['/', 'tabs', 'Shop', shop.uid]"></app-shop>
    </ion-item-group>
  </ion-list>

</ion-content>
